# Database
DATABASE_URL="postgresql://user:password@localhost:5432/ada_solar_db"

# Backend
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NODE_ENV=development

# Frontend
ANGULAR_API_URL=http://localhost:3000/api
